<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{ page_title }}</title>

    {% include 'googletagmanager-head' %}

    {% if settings.synchrony_environment == 'production' %}
      <script src="https://buy.syf.com/digitalbuy/js/merchant_ff.js"></script>
    {% else %}
      <script src="https://ubuy.syf.com/digitalbuy/js/merchant_ff.js"></script>
    {% endif %}

    {% render 'load-env-style' with style_name: 'checkout' %}
    {% render 'load-env-script' with script_name: 'checkout' %}

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {% render 'checkout-data' %}
    {% render 'synchrony-financing-options-data' %}

    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "hx4jvtqlwb");
    </script>
    
  </head>
  <body data-layout="checkout" data-template="{{template}}">
    {% include 'googletagmanager-body' %}
    {% render 'lc-shopify-data-layer' %}

    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <div class="hidden-icons hidden">
      {% render 'icon' with icon_name: 'close', classes: 'hidden' %}
    </div>

    <script>
      var checkoutProducts = [
			{%- for item in checkout.line_items -%}
				{%- for option in item.options_with_values -%}
					{%- if option.name == 'Color' -%} 
						{%- assign item_color = option.value -%}
					{%- endif -%}
					{%- if option.name == 'Size' -%}
						{%- assign item_size = option.value -%}
					{%- endif -%}
				{%- endfor -%}
				{%- assign hasCoupon = false -%}
				{%- if item.discount_allocations.size > 0 -%}
					{%- assign hasCoupon = true -%}
				{%- endif -%}
				{
					id: '{{item.product_id}}',
					style: '{{item.variant.barcode}}',
					variant: '{{item.variant_id}}',
					subcategory: '{{item.product.type}}',
					name: '{{item.product.title | escape}}',
					price: {{item.final_price | money_without_currency | replace: ',', '' }},
					originalPrice: {{item.original_price | money_without_currency | replace: ',', '' }},
					newArrival: {%- if item.product.tags contains 'New Arrival' -%}true{%- else -%}false{%- endif -%},
					isMarkedDown: {%- if item.final_price < item.original_price -%}true{%- else -%}false{%- endif -%},
					quantity: {{item.quantity}},
					subtotal: {{item.final_line_price | money_without_currency | replace: ',', '' }},
					hasCoupon: {{hasCoupon}},
					couponDiscountValue: 0,
					hasReviews: false,
					reviewCount: 0,
					reviewAverage: 0,
					color: '{{item_color}}',
					size: '{{item_size}}',
					showsQuadpay: {%- if item.variant.price > 1900 -%}true{%- else -%}false{%- endif -%},
					almostGone: {%- if item.variant.inventory_quantity < 10 -%}true{%- else -%}false{%- endif -%},
					coupon: ''
				}{%- unless forloop.last -%},{%- endunless -%}
			{%- endfor -%}
		];
    </script>
    {% render 'icon' with icon_name: 'spinner', classes: 'hidden' %}

    <script type="application/json" data-checkout-attributes>
      {{- checkout.attributes | json -}}
    </script>
  </body>
</html>
